@property --rose-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff1f2;
}

@property --rose-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ffe4e6;
}

@property --rose-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fecdd3;
}

@property --rose-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fda4af;
}

@property --rose-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fb7185;
}

@property --rose-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f43f5e;
}

@property --rose-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e11d48;
}

@property --rose-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #be123c;
}

@property --rose-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #9f1239;
}

@property --rose-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #881337;
}

@property --rose-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #4c0519;
}

@property --pink-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fdf2f8;;
}

@property --pink-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fce7f3;
}

@property --pink-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fbcfe8;
}

@property --pink-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f9a8d4;
}

@property --pink-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f472b6;
}

@property --pink-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ec4899;
}

@property --pink-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #db2777;
}

@property --pink-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #be185d;
}

@property --pink-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #9d174d;
}

@property --pink-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #831843;
}

@property --pink-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #500724;
}

@property --fuchsia-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fdf4ff;
}

@property --fuchsia-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fae8ff;
}

@property --fuchsia-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f5d0fe;
}

@property --fuchsia-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f0abfc;
}

@property --fuchsia-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e879f9;
}

@property --fuchsia-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #d946ef;
}

@property --fuchsia-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #c026d3;
}

@property --fuchsia-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #a21caf;
}

@property --fuchsia-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #86198f;
}

@property --fuchsia-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #701a75;
}

@property --fuchsia-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #4a044e;
}

@property --purple-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #faf5ff;
}

@property --purple-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f3e8ff;
}

@property --purple-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e9d5ff;
}

@property --purple-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #d8b4fe;
}

@property --purple-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #c084fc;
}

@property --purple-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #a855f7;
}

@property --purple-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #9333ea;
}

@property --purple-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #7e22ce;
}

@property --purple-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #6b21a8;
}

@property --purple-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #581c87;
}

@property --purple-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #3b0764;
}

@property --violet-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f5f3ff;
}

@property --violet-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ede9fe;
}

@property --violet-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ddd6fe;
}

@property --violet-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #c4b5fd;
}

@property --violet-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #a78bfa;
}

@property --violet-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #8b5cf6;
}

@property --violet-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #7c3aed;
}

@property --violet-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #6d28d9;
}

@property --violet-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #5b21b6;
}

@property --violet-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #4c1d95;
}

@property --violet-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #2e1065;
}

@property --indigo-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #eef2ff;
}

@property --indigo-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e0e7ff;
}

@property --indigo-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #c7d2fe;
}

@property --indigo-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #a5b4fc;
}

@property --indigo-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #818cf8;
}

@property --indigo-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #6366f1;
}

@property --indigo-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #4f46e5;
}

@property --indigo-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #4338ca;
}

@property --indigo-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #3730a3;
}

@property --indigo-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #312e81;
}

@property --indigo-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #1e1b4b;
}

@property --blue-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #eff6ff;
}

@property --blue-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #dbeafe;
}

@property --blue-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #bfdbfe;
}

@property --blue-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #93c5fd;
}

@property --blue-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #60a5fa;
}

@property --blue-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #3b82f6;
}

@property --blue-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #2563eb;
}

@property --blue-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #1d4ed8;
}

@property --blue-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #1e40af;
}

@property --blue-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #1e3a8a;
}

@property --blue-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #172554;
}

@property --sky-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f0f9ff;
}

@property --sky-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e0f2fe;
}

@property --sky-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #bae6fd;
}

@property --sky-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #7dd3fc;
}

@property --sky-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #38bdf8;
}

@property --sky-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #0ea5e9;
}

@property --sky-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #0284c7;
}

@property --sky-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #0369a1;
}

@property --sky-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #075985;
}

@property --sky-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #0c4a6e;
}

@property --sky-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #082f49;
}

@property --cyan-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ecfeff;
}

@property --cyan-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #cffafe;
}

@property --cyan-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #a5f3fc;
}

@property --cyan-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #67e8f9;
}

@property --cyan-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #22d3ee;
}

@property --cyan-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #06b6d4;
}

@property --cyan-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #0891b2;
}

@property --cyan-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #0e7490;
}

@property --cyan-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #155e75;
}

@property --cyan-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #164e63;
}

@property --cyan-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #083344;
}

@property --teal-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f0fdfa;
}

@property --teal-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ccfbf1;
}

@property --teal-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #99f6e4;
}

@property --teal-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #5eead4;
}

@property --teal-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #2dd4bf;
}

@property --teal-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #14b8a6;
}

@property --teal-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #0d9488;
}

@property --teal-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #0f766e;
}

@property --teal-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #115e59;
}

@property --teal-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #134e4a;
}

@property --teal-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #042f2e;
}

@property --emerald-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ecfdf5;
}

@property --emerald-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #d1fae5;
}

@property --emerald-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #a7f3d0;
}

@property --emerald-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #6ee7b7;
}

@property --emerald-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #34d399;
}

@property --emerald-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #10b981;
}

@property --emerald-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #059669;
}

@property --emerald-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #047857;
}

@property --emerald-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #065f46;
}

@property --emerald-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #064e3b;
}

@property --emerald-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #022c22;
}

@property --green-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f0fdf4;
}

@property --green-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #dcfce7;
}

@property --green-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #bbf7d0;
}

@property --green-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #86efac;
}

@property --green-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #4ade80;
}

@property --green-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #22c55e;
}

@property --green-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #16a34a;
}

@property --green-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #15803d;
}

@property --green-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #166534;
}

@property --green-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #14532d;
}

@property --green-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #0a2e1d;
}

@property --lime-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f7fee7;
}

@property --lime-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ecfccb;
}

@property --lime-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #d9f99d;
}

@property --lime-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #bef264;
}

@property --lime-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #a3e635;
}

@property --lime-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #84cc16;
}

@property --lime-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #65a30d;
}

@property --lime-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #4d7c0f;
}

@property --lime-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #3f6212;
}

@property --lime-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #365314;
}

@property --lime-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #1a2e05;
}

@property --yellow-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fefce8;
}

@property --yellow-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fef9c3;
}

@property --yellow-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fef08a;
}

@property --yellow-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fde047;
}

@property --yellow-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #facc15;
}

@property --yellow-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #eab308;
}

@property --yellow-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ca8a04;
}

@property --yellow-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #a16207;
}

@property --yellow-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #854d09;
}

@property --yellow-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #713f12;
}

@property --yellow-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #422006;
}

@property --amber-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fffbeb;
}

@property --amber-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fef3c7;
}

@property --amber-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fde68a;
}

@property --amber-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fbbf24;
}

@property --amber-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fbbd24;
}

@property --amber-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f59e0b;
}

@property --amber-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #d97706;
}

@property --amber-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #b45309;
}

@property --amber-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #92400e;
}

@property --amber-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #78350f;
}

@property --amber-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #451a03;
}

@property --orange-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff7ed;
}

@property --orange-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ffedd5;
}

@property --orange-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fed7aa;
}

@property --orange-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fdba74;
}

@property --orange-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fb923c;
}

@property --orange-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f97316;
}

@property --orange-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ea580c;
}

@property --orange-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #c2410c;
}

@property --orange-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #9a3412;
}

@property --orange-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #7c2d12;
}

@property --orange-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #431407;
}

@property --red-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fef2f2;
}

@property --red-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fee2e2;
}

@property --red-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fecaca;
}

@property --red-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fca5a5;
}

@property --red-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f87171;
}

@property --red-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ef4444;
}

@property --red-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #dc2626;
}

@property --red-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #b91c1c;
}

@property --red-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #991b1b;
}

@property --red-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #7f1d1d;
}

@property --red-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #450a0a;
}

@property --stone-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fafaf9;
}

@property --stone-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f5f5f4;
}

@property --stone-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e7e5e4;
}

@property --stone-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #d6d3d1;
}

@property --stone-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #a8a29e;
}

@property --stone-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #78716c;
}

@property --stone-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #57534e;
}

@property --stone-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #44403c;
}

@property --stone-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #292524;
}

@property --stone-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #1c1917;
}

@property --stone-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #0c0a09;
}

@property --neutral-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fafafa;
}

@property --neutral-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f5f5f5;
}

@property --neutral-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e5e5e5;
}

@property --neutral-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #d4d4d4;
}

@property --neutral-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #a3a3a3;
}

@property --neutral-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #737373;
}

@property --neutral-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #525252;
}

@property --neutral-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #404040;
}

@property --neutral-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #262626;
}

@property --neutral-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #171717;
}

@property --neutral-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #0a0a0a;
}

@property --zinc-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fafafa;
}

@property --zinc-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f4f4f5;
}

@property --zinc-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e4e4e7;
}

@property --zinc-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #d4d4d8;
}

@property --zinc-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #a1a1aa;
}

@property --zinc-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #71717a;
}

@property --zinc-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #52525b;
}

@property --zinc-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #3f3f46;
}

@property --zinc-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #27272a;
}

@property --zinc-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #18181b;
}

@property --zinc-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #09090b;
}

@property --gray-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f9fafb;
}

@property --gray-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f3f4f6;
}

@property --gray-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e5e7eb;
}

@property --gray-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #d1d5db;
}

@property --gray-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #9ca3af;
}

@property --gray-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #6b7280;
}

@property --gray-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #4b5563;
}

@property --gray-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #374151;
}

@property --gray-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #1f2937;
}

@property --gray-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #111827;
}

@property --gray-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #030712;
}

@property --slate-50 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f8fafc;
}

@property --slate-100 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f1f5f9;
}

@property --slate-200 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e2e8f0;
}

@property --slate-300 {
  syntax: "<color>";
  inherits: false;
  initial-value: #cbd5e1;
}

@property --slate-400 {
  syntax: "<color>";
  inherits: false;
  initial-value: #94a3b8;
}

@property --slate-500 {
  syntax: "<color>";
  inherits: false;
  initial-value: #64748b;
}

@property --slate-600 {
  syntax: "<color>";
  inherits: false;
  initial-value: #475569;
}

@property --slate-700 {
  syntax: "<color>";
  inherits: false;
  initial-value: #334155;
}

@property --slate-800 {
  syntax: "<color>";
  inherits: false;
  initial-value: #1e293b;
}

@property --slate-900 {
  syntax: "<color>";
  inherits: false;
  initial-value: #0f172a;
}

@property --slate-950 {
  syntax: "<color>";
  inherits: false;
  initial-value: #020617;
}
